/* body {
  margin: 0;
  padding: 0;
  /* background-color: aqua; */
/* }  */

body {
  background: linear-gradient(to right, #1e5799 0%, #2ce0bf 19%, #76dd2c 40%, #dba62b 60%, #e02cbf 83%, #1e5799 100%);
  background-size: 10000px 100%;
  animation: bg 60s linear infinite;
  color: rgb(245, 245, 245);
  /* font-family: 'Klee One', cursive; no me toma la font de google */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; tampoco me toma una font nativa de aca */
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}


